<ExtContainer padding="10" layout="fit" fitToParent="true" >

 <ExtGrid [store]="stored" layout="fit" (childdoubletap)="onChilddoubletap($event)" (ready)="gridReady($event)">
        <ExtGridcolumn text="Id" dataIndex="Id" hidden="true" flex="1" [editor]="{ xtype: 'hiddenfield' }" ></ExtGridcolumn>
        <ExtGridcolumn text="Date" dataIndex="Date" formatter='date("M,d/Y")' ></ExtGridcolumn>
        <ExtGridcolumn text="SequenceNo" dataIndex="DocumentNo" ></ExtGridcolumn>
        <ExtGridcolumn text="Checked"   dataIndex="IsChecked"  ></ExtGridcolumn>
        <ExtGridcolumn text="ChequeNo" dataIndex="ChequeNo" ></ExtGridcolumn>
        <ExtGridcolumn text="Received From" dataIndex="PayedToReceivedFrom"  ></ExtGridcolumn>
        <ExtGridcolumn text="Purpose" dataIndex="Purpose"  ></ExtGridcolumn>
        <ExtGridcolumn text="Description" dataIndex="Description" ></ExtGridcolumn>
        <ExtGridcolumn text="CostCenter"  tpl='{CostCenter.Name}' ></ExtGridcolumn>
        <ExtGridcolumn text="VoucherType"  tpl='{VoucherType.Name}' ></ExtGridcolumn>
        <!-- <ExtGridcolumn text="VoucherType" tpl='{VoucherType.Name}'  ></ExtGridcolumn> -->
        <ExtGridcolumn text="Amount"  dataIndex="Amount" ></ExtGridcolumn>
      </ExtGrid>
      </ExtContainer>

<!--

<ExtContainer padding="10" layout="hbox" fitToParent="true" >
  <ExtPanel
        [title]="''"
        [docked]="'left'"
        [width]="'fit'"
        [shadow]="true"
        [resizable]="{split: true, edges: 'east', dynamic: true}"
    >
    <ExtContainer padding="10" layout="fit" fitToParent="true">

      <ExtGrid [store]="stored" layout="fit" (childdoubletap)="onChilddoubletap($event)" (ready)="gridReady($event)">
        <ExtGridcolumn text="Id" dataIndex="Id" hidden="true" flex="1" [editor]="{ xtype: 'hiddenfield' }" ></ExtGridcolumn>
        <ExtGridcolumn text="Date" dataIndex="Date" formatter='date("M,d/Y")' ></ExtGridcolumn>
        <ExtGridcolumn text="SequenceNo" dataIndex="DocumentNo" ></ExtGridcolumn>
        <ExtGridcolumn text="Checked"   dataIndex="IsChecked"  ></ExtGridcolumn>
        <ExtGridcolumn text="ChequeNo" dataIndex="ChequeNo" ></ExtGridcolumn>
        <ExtGridcolumn text="Received From" dataIndex="PayedToReceivedFrom"  ></ExtGridcolumn>
        <ExtGridcolumn text="Purpose" dataIndex="Purpose"  ></ExtGridcolumn>
        <ExtGridcolumn text="Description" dataIndex="Description" ></ExtGridcolumn>
        <ExtGridcolumn text="CostCenter"  tpl='{CostCenter.Name}' ></ExtGridcolumn>
        <ExtGridcolumn text="VoucherType"  tpl='{VoucherType.Name}' ></ExtGridcolumn>
        <ExtGridcolumn text="Amount"  dataIndex="Amount" ></ExtGridcolumn>
      </ExtGrid>

    </ExtContainer>
  </ExtPanel>
  <ExtPanel
        [docked]="'top'"
        resizable="{split: true,  edges: 'south', dynamic: true}"
    >
      <ExtContainer
          [platformConfig]="{
              phone: { layout: 'vbox' },
              '!phone': { layout: 'vbox', padding: 10 }
          }"
          >
            <ExtFormpanel
                (ready) ="onReady($event)"
                width="fit"
                role="voucherForm"
              >

              <ExtContainer  layout="vbox" fitToParent="true">
                <ExtFieldset
                    [title]="'Collection Voucher'"
                    [width]="'320'"
                    [defaults]="{ labelAlign: 'placeholder' }"
                >
                    <ExtTextfield
                      [label]="'Voucher Type'"
                      [required]="true"
                      [placeholder]="'This field is required'"
                      name="VoucherTypeId"
                    >
                    </ExtTextfield>
                     <ExtTextfield
                        [label]="'Date'"
                        [labelAlign]="'placeholder'"
                        [required]="true"
                        [placeholder]="'This field is required'"
                        name="Date"
                        >
                      </ExtTextfield>

                    <ExtTextfield
                        [label]="'Amount'"
                        [required]="true"
                        [placeholder]="'This field is required'"
                        name="Amount"
                    >
                    </ExtTextfield>

                    <ExtTextfield
                        [label]="'Received From'"
                        [required]="true"
                        [placeholder]="'This field is required'"
                        name="PayedToReceivedFrom"
                    >
                    </ExtTextfield>

                    <ExtTextfield
                      [label]="'Purpose'"
                      [required]="true"
                      [placeholder]="'This field is required'"
                      name="Purpose"
                    ></ExtTextfield>

                     <ExtTextfield
                      [label]="'Description'"
                      [required]="true"
                      [placeholder]="'This field is required'"
                      name="Description"
                     ></ExtTextfield>

                    <ExtTextfield
                      [label]="'Mode Of Payment'"
                      [required]="true"
                      [placeholder]="'This field is required'"
                      name="ModeOfPaymentId"
                    >
                    </ExtTextfield>

                     <ExtTextfield
                      [label]="'Project'"
                      [required]="true"
                      [placeholder]="'This field is required'"

                      name="Project"
                  ></ExtTextfield>

                    </ExtFieldset>

                    <ExtToolbar
                        [docked]="'bottom'"
                        [height]="'50px'"
                        [layout]="{ type: 'hbox', pack: 'right' }"
                      >
                         <ExtButton
                            [text]="disabled ? 'Enable All' : 'Disable All'"
                            (tap)="toggleDisabled($event)"
                        >
                        </ExtButton>
                        <ExtButton
                            [text]="'Save'"
                            (tap)="reset($event)"
                        ></ExtButton>


                  </ExtToolbar>

                  </ExtContainer>
                </ExtFormpanel>
        </ExtContainer>
    </ExtPanel>
</ExtContainer>
 -->
