<ExtPanel extname="home"
  padding="10 10 10 2"
  layout="fit"
  fitToParent="true">
  <ExtGrid [store]="stored">
    <ExtColumn text="Date"
      dataIndex="Date"
      width="200"></ExtColumn>
    <ExtColumn text="SequenceNo"
      dataIndex="SequenceNo"
      width="200"></ExtColumn>
    <ExtColumn text="Checked"
      dataIndex="Checked"
      width="200"></ExtColumn>
    <ExtColumn text="ChequeNo"
      dataIndex="ChequeNo"
      width="200"></ExtColumn>
    <ExtColumn text="Received From"
      dataIndex="ReceivedFrom"
      width="200"></ExtColumn>
    <ExtColumn text="Purpose"
      dataIndex="Purpose"
      width="200"></ExtColumn>
  </ExtGrid>
</ExtPanel>
