<ExtPanel extname="home"
  padding="10 10 10 2"
  layout="fit"
  fitToParent="true">
  <ExtGrid [store]="store">
    <ExtColumn text="OwnerCostCenter"
      dataIndex="OwnerCostCenter"
      width="200"></ExtColumn>
    <ExtColumn text="AccountCode"
      dataIndex="AccountCode"
      width="200"></ExtColumn>
    <ExtColumn text="AccountName"
      dataIndex="AccountName"
      width="200"></ExtColumn>
    <ExtColumn text="DebitAmount"
      dataIndex="DebitAmount"
      width="200"></ExtColumn>
    <ExtColumn text="CreditAmount"
      dataIndex="CreditAmount"
      width="200"></ExtColumn>
    <ExtColumn text="CostCode"
      dataIndex="CostCode"
      width="200"></ExtColumn>
  </ExtGrid>
</ExtPanel>
