<div>
  <form [formGroup]="voucherForm">
    <ExtContainer [width]="width"
      layout="fit"
      fitToParent="true">
      <ExtFormpanel [platformConfig]="{ '!phone': { maxHeight: 500, width: 350 } }">
        <ExtFieldset [title]="''"
          [defaults]="{ labelAlign: 'placeholder' }">
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="OwnerCostCenter"
              value=""
              required
              formControlName="OwnerCostCenter" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Voucher Type"
              value=""
              formControlName="VoucherType" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Date"
              value=""
              formControlName="Date" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Sequence Number"
              value=""
              formControlName="SequenceNo" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Other Reference Number"
              value=""
              formControlName="OtherRefNo" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Amount"
              value=""
              formControlName="Amount" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Mode of Payment"
              value=""
              formControlName="ModeOfPayment" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Project"
              value=""
              formControlName="Project" />
          </mat-form-field>
        </ExtFieldset>
        <ExtButton [margin]="'0 0 0 0'"
          [text]="'Save'"
          (tap)="onSubmitVoucherForm()">
        </ExtButton>
      </ExtFormpanel>
    </ExtContainer>
  </form>
</div>
<!--
<ExtContainer padding="10"
  layout="fit">
  <ExtContainer padding="10"
    layout="fit"
    fitToParent="true">
    <ExtFormpanel (ready)="onReady($event)"
      [shadow]="true"
      [padding]="20">
      <ExtFieldset [title]="''"
        [defaults]="{ labelAlign: 'placeholder' }">
        <ExtTextfield [label]="'Owner Cost Center'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
        <ExtTextfield [label]="'Voucher Type'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
        <ExtTextfield [label]="'Date'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
        <ExtTextfield [label]="'Sequence No'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
        <ExtTextfield [label]="'Other reference No'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
        <ExtTextfield [label]="'Amount'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
        <ExtTextfield [label]="'Mode of Payment'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
        <ExtTextfield [label]="'Project'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
      </ExtFieldset>
    </ExtFormpanel>
    <ExtFormpanel (ready)="onReady($event)"
      [shadow]="true"
      [padding]="20">
      <ExtFieldset [title]="''"
        [defaults]="{ labelAlign: 'placeholder' }">
        <ExtTextfield [label]="'Received from'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
        <ExtTextfield [label]="'Purpose'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
        <ExtTextfield [label]="'Description'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
        <ExtTextfield [label]="'Authorized Date'"
          [required]="true"
          [placeholder]="''"
          [disabled]="disabled">
        </ExtTextfield>
      </ExtFieldset>
    </ExtFormpanel>
  </ExtContainer>
</ExtContainer>
</div>
<div class="h-auto">
  <ExtPanel extname="home"
    padding="10 10 10 2"
    layout="fit"
    fitToParent="true">
    <ExtGrid>
      <ExtColumn text="OwnerCostCenter"
        dataIndex="OwnerCostCenter"
        width="200"></ExtColumn>
      <ExtColumn text="accountCode"
        dataIndex="accountCode"
        width="200"></ExtColumn>
      <ExtColumn text="accountName"
        dataIndex="ChequeNumber"
        width="200"></ExtColumn>
      <ExtColumn text="PayedToReceived"
        dataIndex="PayedToReceived"
        width="200"></ExtColumn>
      <ExtColumn text="Purpose"
        dataIndex="Purpose"
        width="200"></ExtColumn>
      <ExtColumn text="Description"
        dataIndex="Description"
        width="200"></ExtColumn>
      <ExtColumn text="OwnerCostCenter"
        dataIndex="OwnerCostCenter"
        width="200"></ExtColumn>
      <ExtColumn text="VoucherType"
        dataIndex="VoucherType"
        width="200"></ExtColumn>
      <ExtColumn text="Amount"
        dataIndex="Amount"
        width="200"></ExtColumn>
      <ExtColumn text="PostedFromOperation"
        dataIndex="PostedFromOperation"
        width="200"></ExtColumn>
    </ExtGrid>
  </ExtPanel>
</div>
-->
