<div>
  <form [formGroup]="voucherForm">
    <ExtContainer [width]="width"
      layout="fit"
      fitToParent="true">
      <ExtFormpanel [platformConfig]="{ '!phone': { maxHeight: 500, width: 350 } }">
        <ExtFieldset [title]="''"
          [defaults]="{ labelAlign: 'placeholder' }">
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="OwnerCostCenter"
              value=""
              required
              formControlName="OwnerCostCenter" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Voucher Type"
              value=""
              formControlName="VoucherType" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Date"
              value=""
              formControlName="Date" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Sequence Number"
              value=""
              formControlName="SequenceNo" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Other Reference Number"
              value=""
              formControlName="OtherRefNo" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Amount"
              value=""
              formControlName="Amount" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Mode of Payment"
              value=""
              formControlName="ModeOfPayment" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Project"
              value=""
              formControlName="Project" />
          </mat-form-field>
        </ExtFieldset>
        <ExtButton [margin]="'0 0 0 0'"
          [text]="'Save'"
          (tap)="onSubmitVoucherForm()">
        </ExtButton>
      </ExtFormpanel>
    </ExtContainer>
  </form>
</div>
<!--
<ExtContainer padding="10"
  layout="fit"
  fitToParent="true">
  <ExtFormpanel [shadow]="true"
    [padding]="20">
    <ExtFieldset [title]="''"
      [defaults]="{ labelAlign: 'placeholder' }">
      <ExtTextfield [label]="'Owner Cost Center'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
      <ExtTextfield [label]="'Voucher Type'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
      <ExtTextfield [label]="'Date'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
      <ExtTextfield [label]="'Sequence No'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
      <ExtTextfield [label]="'Other reference No'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
      <ExtTextfield [label]="'Amount'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
      <ExtTextfield [label]="'Mode of Payment'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
      <ExtTextfield [label]="'Project'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
    </ExtFieldset>
  </ExtFormpanel>
  <ExtFormpanel [shadow]="true"
    [padding]="20">
    <ExtFieldset [title]="''"
      [defaults]="{ labelAlign: 'placeholder' }">
      <ExtTextfield [label]="'Received from'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
      <ExtTextfield [label]="'Purpose'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
      <ExtTextfield [label]="'Description'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
      <ExtTextfield [label]="'Authorized Date'"
        [required]="true"
        [placeholder]="''"
        [disabled]="disabled">
      </ExtTextfield>
    </ExtFieldset>
  </ExtFormpanel>
</ExtContainer>
-->
