<!-- <div> -->
  <form [formGroup]="voucherForm">
     <ExtContainer
      fitToParent="true">
      <ExtFormpanel  [platformConfig]="{ '!phone': { maxHeight: 500, width: 350 } }">
        <ExtFieldset [title]="''"
          [defaults]="{ labelAlign: 'placeholder' }">
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="OwnerCostCenter"
              value=""
              required
              formControlName="OwnerCostCenter" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Voucher Type"
              value=""
              formControlName="VoucherType" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Date"
              value=""
              formControlName="Date" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Sequence Number"
              value=""
              formControlName="SequenceNo" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Other Reference Number"
              value=""
              formControlName="OtherRefNo" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Amount"
              value=""
              formControlName="Amount" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Mode of Payment"
              value=""
              formControlName="ModeOfPayment" />
          </mat-form-field>
          <mat-form-field class="w-2/3 flex justify-center">
            <input matInput
              placeholder="Project"
              value=""
              formControlName="Project" />
          </mat-form-field>
        </ExtFieldset>
        <ExtButton [margin]="'0 0 0 0'"
          [text]="'Save'"
          (tap)="onSubmitVoucherForm()">
        </ExtButton>
      </ExtFormpanel>
    </ExtContainer>
  </form>
<!-- </div> -->
