<ExtPanel extname="home"
  padding="10 10 10 2"
  layout="fit"
  fitToParent="true">
  <ExtGrid [store]="stored">
    <ExtColumn text="CostCenter"
      dataIndex="CostCenter"
      width="200"></ExtColumn>
    <ExtColumn text="VoucherType"
      dataIndex="VoucherType"
      width="200"></ExtColumn>
    <ExtColumn text="DefaultAccount"
      dataIndex="DefaultAccount"
      width="200"></ExtColumn>
    <ExtColumn text="AccountTitle"
      dataIndex="AccountTitle"
      width="200"></ExtColumn>
    <ExtColumn text="BalanceSide"
      dataIndex="BalanceSide"
      width="200"></ExtColumn>
    <ExtColumn text="StartingNumber"
      dataIndex="StartingNumber"
      width="200"></ExtColumn>
    <ExtColumn text="CurrentNumber"
      dataIndex="CurrentNumber"
      width="200"></ExtColumn>
    <ExtColumn text="NumberOfDigits"
      dataIndex="NumberOfDigits"
      width="200"></ExtColumn>
  </ExtGrid>
</ExtPanel>
