<ExtPanel extname="home"
    padding="10 10 10 2"
    layout="box"
    fitToParent="true">
  <ExtGrid [store]="stored" (ready)="gridReady($event)">
    <ExtGridcolumn text="Id" dataIndex="Id" hidden="true" flex="1"></ExtGridcolumn>
    <ExtGridcolumn text="IsBalanced" dataIndex="IsBalanced" [renderer]="this.renderSign" ></ExtGridcolumn>
    <ExtGridcolumn text="Date" dataIndex="Date" formatter='date("M,d/Y")' ></ExtGridcolumn>
    <ExtGridcolumn text="SequenceNo" dataIndex="ReferenceNo" ></ExtGridcolumn>
    <ExtGridcolumn text="ChequeNo"   dataIndex="ChequeNo"   ></ExtGridcolumn>
    <ExtGridcolumn text="Payed To/Received" dataIndex="PayedToReceivedFrom" ></ExtGridcolumn>
    <ExtGridcolumn text="Purpose" dataIndex="Purpose"  ></ExtGridcolumn>
    <ExtGridcolumn text="Description" dataIndex="Description"  ></ExtGridcolumn>
    <ExtGridcolumn text="OwnerCostCenter" tpl='{CostCenter.Name}' ></ExtGridcolumn>
    <ExtGridcolumn text="VoucherType" tpl='{VoucherType.Name}'  ></ExtGridcolumn>
    <ExtGridcolumn text="Amount"  dataIndex="Amount" ></ExtGridcolumn>
    <ExtGridcolumn text="PostedFromOperation" dataIndex="PostedFromOperation" ></ExtGridcolumn>
  </ExtGrid>
</ExtPanel>
