<ExtPanel extname="home"
  padding="10 10 10 2"
  layout="fit"
  fitToParent="true">
  <ExtGrid [store]="stored">
    <ExtColumn text="Is Reconciled"
      dataIndex="IsReconciled"
      width="200"></ExtColumn>
    <ExtColumn text="VoucherType"
      dataIndex="CoVoucherType"
      width="200"></ExtColumn>
    <ExtColumn text="ReferenceNo"
      dataIndex="ReferenceNo"
      width="200"></ExtColumn>
    <ExtColumn text="TransactionDate"
      dataIndex="TransactionDate"
      width="200"></ExtColumn>
    <ExtColumn text="Purpose"
      dataIndex="Purpose"
      width="200"></ExtColumn>
    <ExtColumn text="ChequeNo"
      dataIndex="ChequeNo"
      width="200"></ExtColumn>
    <ExtColumn text="DebitAmount"
      dataIndex="DebitAmount"
      width="200"></ExtColumn>
    <ExtColumn text="CreditAmount"
      dataIndex="CreditAmount"
      width="200"></ExtColumn>
  </ExtGrid>
</ExtPanel>
