<ExtContainer padding="10" layout="fit" fitToParent="true">
  <ExtGrid
    [store]="stored"
    layout="fit"
    (ready)="onGridReady($event)"
    [plugins]="{ grideditable: true, gridfilters: true }"
  >
    <ExtToolbar docked="top">
      <ExtButton
        text="Add"
        ui="action raised round"
        iconCls="x-fa fa-plus"
        iconAlign="left"
        alignSelf="right"
        (tap)="onAdd()"
      >
      </ExtButton>
    </ExtToolbar>
    <ExtGridcolumn
      text="Id"
      dataIndex="Id"
      hidden="true"
      [editor]="{ xtype: 'hiddenfield' }"
    ></ExtGridcolumn>
    <ExtDatecolumn
      text="Date"
      width="120"
      dataIndex="Date"
      format="M d, Y"
      editable="true"
    ></ExtDatecolumn>
    <ExtDatecolumn
      text="Authorized Date"
      width="120"
      dataIndex="AuthorizedDate"
      format="M d, Y"
      [displayed]="false"
      hidden="true"
    ></ExtDatecolumn>
    <ExtGridcolumn
      width="120"
      text="SequenceNo"
      dataIndex="DocumentNo"
    ></ExtGridcolumn>
    <!-- <ExtGridcolumn
      text="Checked"
      dataIndex="IsChecked"
      value="true"
      [renderer]="this.renderBoolean"
    ></ExtGridcolumn> -->
    <ExtGridcolumn text="ChequeNo" dataIndex="ChequeNo"> </ExtGridcolumn>
    <ExtGridcolumn
      text="Paid To/Received From"
      editable="true"
      [flex]="1"
      dataIndex="PayedToReceivedFrom"
    ></ExtGridcolumn>
    <ExtGridcolumn
      text="Purpose"
      dataIndex="PurposeTemplateId"
      editable="true"
      [renderer]="this.renderColumn"
      [editor]="purposeEditor"
    ></ExtGridcolumn>
    <ExtGridcolumn
      text="Description"
      dataIndex="Description"
      editable="true"
    ></ExtGridcolumn>
    <ExtGridcolumn
      text="Cost Center"
      dataIndex="CostCenterId"
      [editable]="true"
      [editor]="costCenterEditor"
      [renderer]="this.renderColumn"
    ></ExtGridcolumn>
    <ExtGridcolumn
      text="Voucher Type"
      dataIndex="VoucherTypeId"
      editable="true"
      [editor]="voucherEditor"
      [renderer]="this.renderColumn"
    ></ExtGridcolumn>
    <ExtNumbercolumn
      text="Amount"
      dataIndex="Amount"
      editable="true"
      [renderer]="this.renderSign"
    ></ExtNumbercolumn>
    <ExtGridcolumn
      text="Paid To"
      dataIndex="PayedToReceivedFrom"
      [displayed]="false"
      hidden="true"
    ></ExtGridcolumn>
    <ExtGridcolumn
      text="Account"
      dataIndex="AccountId"
      [editor]="accountEditor"
      [displayed]="false"
      hidden="true"
    ></ExtGridcolumn>
    <ExtGridcolumn
      text="Mode Of Payment"
      editable="true"
      dataIndex="ModeOfPaymentId"
      [editor]="modePaymentEditor"
    >
    </ExtGridcolumn>

    <ExtGridcolumn
      text="Payment Doc. No"
      dataIndex="ChequeNo"
      [displayed]="false"
    ></ExtGridcolumn>
    <ExtGridcolumn
      text="Project"
      dataIndex="Project"
      [displayed]="false"
      hidden="true"
    ></ExtGridcolumn>

    <ExtGridcolumn
      text="Operations"
      flex="1"
      [cell]="{
        tools: {
          centered: false,
          trash: {
            handler: this.deletePaymentVoucher
          }
        }
      }"
    ></ExtGridcolumn>
  </ExtGrid>
</ExtContainer>
