<ExtContainer padding="10" layout="fit" fitToParent="true" >

 <ExtGrid [store]="stored" layout="fit" (childdoubletap)="onChilddoubletap($event)" (ready)="gridReady($event)">
        <ExtGridcolumn text="Id" dataIndex="Id" hidden="true" flex="1" [editor]="{ xtype: 'hiddenfield' }" ></ExtGridcolumn>
        <ExtGridcolumn text="Date" dataIndex="Date" formatter='date("M,d/Y")' ></ExtGridcolumn>
        <ExtGridcolumn text="SequenceNo" dataIndex="DocumentNo" ></ExtGridcolumn>
        <ExtGridcolumn text="Checked"   dataIndex="IsChecked"  ></ExtGridcolumn>
        <ExtGridcolumn text="ChequeNo" dataIndex="ChequeNo" ></ExtGridcolumn>
        <ExtGridcolumn text="Received From" dataIndex="PayedToReceivedFrom"  ></ExtGridcolumn>
        <ExtGridcolumn text="Purpose" dataIndex="Purpose"  ></ExtGridcolumn>
        <ExtGridcolumn text="Description" dataIndex="Description" ></ExtGridcolumn>
        <ExtGridcolumn text="CostCenter"  tpl='{CostCenter.Name}' ></ExtGridcolumn>
        <ExtGridcolumn text="VoucherType"  tpl='{VoucherType.Name}' ></ExtGridcolumn>
        <!-- <ExtGridcolumn text="VoucherType" tpl='{VoucherType.Name}'  ></ExtGridcolumn> -->
        <ExtGridcolumn text="Amount"  dataIndex="Amount" ></ExtGridcolumn>
      </ExtGrid>
      </ExtContainer>
