<mat-nav-list class="app-side-nav">
  <div class="subsystem-card">
    <div class="header">
      <h2>IFMS</h2>
    </div>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Settings</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
    Default Settings
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/settings/costcode"
  >
    Cost Code
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/settings/vouchertype"
  >
    Voucher Type
  </a>
</mat-nav-list>
