<ExtPanel extname="home"
  padding="10 10 10 2"
  layout="fit"
  fitToParent="true">
  <ExtGrid [store]="stored">
    <ExtColumn text="CostCenter" dataIndex="CostCenter" width="200"></ExtColumn>
    <ExtColumn text="VoucherType" dataIndex="VoucherType" width="200"></ExtColumn>
    <ExtColumn text="SequenceNo" dataIndex="ReferenceeNo"  width="200"></ExtColumn>
    <ExtColumn text="Date" dataIndex="Date" width="200"></ExtColumn>
    <ExtColumn text="Posted" dataIndex="IsPosted" width="200"></ExtColumn>
    <ExtColumn text="Void" dataIndex="IsVoid" width="200"></ExtColumn>
    <ExtColumn text="Adjustment" dataIndex="IsAdjustment" width="200"></ExtColumn>
    <ExtColumn text="Payed To/Received" dataIndex="PayedToReceivedFrom" width="200"></ExtColumn>
    <ExtColumn text="Amount" dataIndex="Amount" width="200"></ExtColumn>
    <ExtColumn text="Purpose" dataIndex="Purpose" width="200"></ExtColumn>
    <ExtColumn text="Description" dataIndex="Description" width="200"></ExtColumn>
  </ExtGrid>
</ExtPanel>
