<ExtPanel extname="home"
  padding="10 10 10 2"
  layout="fit"
  fitToParent="true">
  <ExtGrid [store]="stored">
    <ExtColumn text="FullName"
      dataIndex="FullName"
      width="200"></ExtColumn>
    <ExtColumn text="email"
      dataIndex="email"
      width="200"></ExtColumn>
    <ExtColumn text="phone"
      dataIndex="phone"
      width="200"></ExtColumn>
    <ExtColumn text="hoursTaken"
      dataIndex="hoursTaken"
      width="200"></ExtColumn>
    <ExtColumn text="hoursRemaining"
      dataIndex="hoursRemaining"
      width="200"></ExtColumn>
  </ExtGrid>
</ExtPanel>
