<nav class="nav flex items-center flex-row justify-between sticky top-0 z-50">
  <div class="flex justify-start lg:justify-center">
    <div
      class="lg:flex flex-grow icon ml-3 w-5 h-5"
      (click)="toggleSidebar()"
      *ngIf="menuStatus"
    >
      <img class="onhover" src="assets/images/header/menu.png" alt="menu" />
    </div>
    <div [routerLink]="['/dashboard']" class="onhover">
      <img class="ml-4" src="assets/images/logo.png" alt="Cyber ERP" />
    </div>
  </div>
  <div class="flex flex-shrink-0 justify-between mt-1" style="min-width: 220px">
    <div [routerLink]="['/home']" class="ml-auto onhover">
      <mat-icon>home</mat-icon>
    </div>
    <div class="ml-auto cursor-not-allowed onhover">
      <mat-icon>help_outline</mat-icon>
    </div>
    <div (click)="logout()" class="ml-auto mr-6 onhover">
      <mat-icon>exit_to_app</mat-icon>
    </div>
  </div>
</nav>
