/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import '~typeface-roboto/index.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Snackbar style
.mat-snack-bar-container.success {
    background: white;
    color: #2196F3;
    width: 500px;
    .mat-button-wrapper {
      color: #2196F3;
    }
  }

 .mat-snack-bar-container.error {
    background: white;
    color: #ff4081;
    width: 500px;
  }

  .x-treecell .x-icon-el:before {
    color: #edcc55 !important;
  }
  .x-treecell .x-icon-el.fa-circle:before {
      font-size: 8px !important;
      color: #8bcc8a !important;
  }

  //For grid cell tool icons
  .x-tool-type-edit {
    //color: #2196F3 !important;
  }

  .x-tool-type-trash {
    //color: #f44336 !important;
  }

  .x-tool-type-edit:before,
  .x-tool-type-trash:before {
    font-size: 22px !important;
  }
